.container {
    min-height: 100vh;
}

.main {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.main>h1 {
    background: radial-gradient(circle,#974b4b,red,#000) !important;
    text-align: center !important;
    background-size: 200% auto !important;
    color: #000 !important;
    background-clip: text !important;
    text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.body {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.body>ul {
    list-style-type: circle;
}