.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 10vh;
    justify-items: center;
    align-items: center;
    border-top: 1px solid gray;
}

.footer>p {
    margin: 0;
    padding: 0;
    color: darkcyan;

}


.footer>p>a:hover {
    cursor: none;
}

.username::before{
    content: "User: ";
    color: #4a4a4a;
    font-weight: 500;
}

.username{
    color: gray !important;
}


.logoutbut {
    color: gray;
    transition: color 0.3s;
    text-decoration: none;
    background-image: linear-gradient(#b6b6b6, #464646);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    font-weight: 500;
}

.logoutbut:hover {
    color: rgb(59, 59, 59);
    background-size: 100% 0.1em;
    background-position-x: 0%;
}

.logoutbut {
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
  .logoutbut::before,
  .logoutbut::after {
   content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
  .logoutbut::before {
    background-color: gray;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  .logoutbut::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #464646;
  }
  
  .logoutbut:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  .logoutbut:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
  .logoutbut span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .logoutbut:hover span {
    transform: translate3d(-200%, 0, 0);
  }

  .drkmodetoggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    top: 2vh;
    right: 2vh;
  }

  .switch {
    /* Variables */
    --switch_width: 2em;
    --switch_height: 1em;
    --thumb_color: #e8e8e8;
    --track_color: #e8e8e8;
    --track_active_color: #888;
    --outline_color: #000;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: var(--switch_width);
    height: var(--switch_height);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    box-sizing: border-box;
    border: 2px solid var(--outline_color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--track_color);
    transition: .15s;
    border-radius: var(--switch_height);
  }
  
  .slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: var(--switch_height);
    width: var(--switch_height);
    border: 2px solid var(--outline_color);
    border-radius: 100%;
    left: -2px;
    bottom: -2px;
    background-color: var(--thumb_color);
    transform: translateY(-0.2em);
    box-shadow: 0 0.2em 0 var(--outline_color);
    transition: .15s;
  }
  
  .tinput:checked+.slider {
    background-color: var(--track_active_color);
  }
  
  .tinput:focus-visible+.slider {
    box-shadow: 0 0 0 2px var(--track_active_color);
  }
  
  /* Raise thumb when hovered */
  .tinput:hover+.slider:before {
    transform: translateY(-0.3em);
    box-shadow: 0 0.3em 0 var(--outline_color);
  }
  
  .tinput:checked+.slider:before {
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
  }
  
  /* Raise thumb when hovered & checked */
  .tinput:hover:checked+.slider:before {
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
    box-shadow: 0 0.3em 0 var(--outline_color);
  }