html,
body {
  background: rgb(255, 255, 255);
  min-height: 100vh;
  color: black;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  text-align: center;
  
  background: radial-gradient(circle,#dedede,#2e4ba9,#3effc6);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 7s ease-in-out infinite;
}
@keyframes shine {
  to {
    background-position: -200% center;
  }
}


* {
  box-sizing: border-box;
}

.drkmode {
  background-color: #212121 !important;
  color: white !important;
}



/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dedede;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(157, 212, 220);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 225, 255);
  
}

.loadermain {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid rgb(157, 212, 220);
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.loaderred {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #ff5959;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 980px) {
  ::-webkit-scrollbar-thumb {
    background: rgb(203, 157, 220);
  }
}

#flash:hover{
  animation: flash 1.5s infinite;
}

@keyframes flash {
  0% {
    color: aquamarine;
  }

  50% {
    color: rgb(98, 98, 194);
  }

  100% {
    color: aquamarine
  }
}

#conflash{
  animation: conflash 3s infinite forwards;
  color: aquamarine;
}

@keyframes conflash {
  0% {
    color: aquamarine;
  }

  20%{
    color: rgb(127, 214, 255);
  }

  40% {
    color: rgb(98, 98, 194);
  }

  60%{
    color: rgb(194, 98, 159);
  }

  80%{
    color: rgb(247, 210, 46);
  }

  100% {
    color: rgb(112, 228, 99)
  }
}


.create {
  position: fixed;
  bottom: 2vh;
  left: 2vh;
}
.button {
  border: 2px solid #24b4fb;
  background-color: #24b4fb;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
 }
 
 .button .span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
 }
 
 .button:hover {
  background-color: #0071e2;
 }