.navdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 10vh;
    color: black;
}

.container {
    position: fixed;
    width: 100%;
    max-width: inherit;
    background-color: rgba(255, 255, 255, 0.67);
    z-index: 10;
    top: 0;
}

.navdiv > ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.navdiv > ul > li{
    margin: 0 5vh;
    transition: color 0.3s;
    text-decoration: none;
background-image: linear-gradient(#d99a5a, #d99a5a);
background-size: 0% 0.1em;
background-position-y: 100%;
background-position-x: 50%;
background-repeat: no-repeat;
transition: background-size 0.2s ease-in-out;
}

.navdiv > ul > li:hover{
    color: rgb(104 74 211);
    background-size: 100% 0.1em;
}

.navitems{
    padding: 0;
    align-items: center;
}



.usericon{
    width: 5vh;
    height: 5vh;
    border: 3px solid rgb(208, 208, 208);
    border-radius: 1vh;
    transition: border 0.7s;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.usericon:hover{
    border-color: #d99a5a;
    transform: rotate(360deg);
}

.acc{
    display: none;
}

@media (max-width: 1000px) {
    .navdiv > ul > li{
        margin: 0 2vh;
    }
}

@media (max-width: 912px) {
    .navdiv{
        width: 100%;
    }
    .navdiv>h3{
        padding: 0;
    }
    .navitems{
        width: 100%;
        justify-content: space-evenly;
    }
}