.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 60vh;
  flex-wrap: nowrap;
  
}

.button {
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #7e97b8;
  background-color: #e0e8ef;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
 }
 
 .button:hover {
  color: #516d91;
  background-color: #E5EDF5;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
 }
 
 .button:active {
  box-shadow: none;
 }

@media(max-width: 600px){
  .aboutcards{
    grid-template-columns: 1fr;
  }
}


.aboutsec{
  padding: 0 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  gap: 5vh;
}

.ccard {
  width: 100%;
  height: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  overflow: visible;
 }
 
 .ccard .citem {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 
 .citem:hover, .citem:active {
  transform: scale(0.95);
  transition: all 0.3s;
 }
 
 .citem svg {
  width: 40px;
  height: 40px;
  margin-bottom: 7px;
 }
 
 .citem1 {
  background: #c7c7ff;
 }
 
 .citem2 {
  background: #ffd8be;
 }
 
 .citem3 {
  background: #a9ecbf;
 }
 
 .citem4 {
  background: #f3bbe1;
 }
 
 .cquantity {
  font-size: 25px;
  font-weight: 600;
 }
 
 .ctext {
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
 }
 
 .ctext1 {
  color: rgba(149,149,255,1);
 }
 
 .ctext2 {
  color: rgba(252,161,71,1);
 }
 
 .ctext3 {
  color: rgba(66,193,110,1);
 }
 
 .ctext4 {
  color: rgba(220,91,183,1);
 }