/* {
  --snow: #fffbfeff;
  --tropical-indigo: #8b80f9ff;
  --timberwolf: #d0cfcfff;
  --white: #ffffffff;
  --rich-black: #0d1821ff;
}*/

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
  min-height: 100vh;
  flex-wrap: nowrap;
  font-size: 30px;
  font-family: Jersy;
  position: relative;
  border-bottom: 2px dashed gray;
}

.main h1 {
  text-align: center;
  background: radial-gradient(circle, #8e2de2, rgb(127, 214, 255));
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 7s ease-in-out infinite;
  margin: 0;
  font-family: 'BebasNEW', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 100px;
}


.main_svg{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    border-bottom: 2px dashed gray;
}

.main_svg svg {
  position: relative;
  display: block;
  width: calc(184% + 1.3px);
  height: 220px;
}

.main_svg .main_svg_fill {
  fill: #7926FF;
}



@keyframes shine {
  to {
    background-position: -200% center;
  }
}

.maintop {
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main_top_text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
}

.main_top_text h4{
  margin: 0;
  font-size: 15px;
  font-family: 'Code', 'Roboto';
  color: #4AF626;
  text-shadow: 0px 0px 10px #42cc25;
}

.main_top_text_cursor_blink{
  animation: blink 1200ms infinite linear;
}

@keyframes blink {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


.main_top_text p {
  font-weight: 600;
  font-family: 'Pacifico', cursive;
  margin: 0;
  font-size: 20px;
  animation: fadeinp 5s 1 ease-in-out;
}

@keyframes fadeinp {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media(max-width: 600px) {
  .aboutcards {
    grid-template-columns: 1fr;
  }
}


.rbutton {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: rgb(0, 225, 255);
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid rgb(0, 225, 255);
  transition: 0.5s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 0.5s;
}

.rbutton:hover {
  cursor: pointer;
  color: #ffffff;
  background: #7926ff;
  border: 1px solid #7926ff;
  text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
  box-shadow: 0 0 5px #7926ff,
    0 0 20px #7926ff,
    0 0 50px #7926ff,
    0 0 100px #7926ff;
  transform: scale(1.05);
}

.rbutton:active {
  transform: scale(0.95);
}


.aboutsec {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 70vh;
  grid-gap: 5vh;
  gap: 0em;

}

.sectitle {
  font-family: 'Kelreg';
  color: #fff !important;
  font-size: 2em !important;
}



.acard {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  height: 100vh;
  transition: 1s ease-in-out;
  /* -webkit-clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px); */
  /* clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px); */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: #000;
  padding: 5em 1em;
  background: #7926ff;
  border-radius: 33% 67% 56% 44% / 53% 42% 58% 47%;
  animation: morph 15s ease-in-out infinite;
  z-index: 1;
  position: relative;
}

.acard span {
  font-weight: bold;
  color: inherit;
  text-align: center;
  display: block;
  padding-top: 1em;
  font-size: 1em;
  text-shadow: 0px 0px 15px #ffffff;
}

.ainfo {
  font-weight: 500;
  color: #fff;
  display: block;
  text-align: center;
  padding-top: 0.1em;
  font-size: 0.9em;
  margin: 1em;
  margin-top: 1em;
  font-family: 'Monserat';
}


.acard .aimg {
  width: fit-content;
  height: fit-content;
  border-radius: 30% 70% 57% 43% / 30% 34% 66% 70%;
  /* margin: 1.8em; */
  background: rgb(98, 98, 194);
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: morph 15s ease-in-out infinite;
}

.aimg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aimg img {
  width: 15em;
  height: 15em;
  object-fit: cover;
  border-radius: 100%;
  border: 5px solid #eaeaea;
  box-shadow: 1px 1px 15px 8px #bebebe;
  transition: 1s all;

}

.aimg img:hover {
  transform: scale(1.05);
  cursor: crosshair;
}

.acard .ashare {
  text-align: center;
  margin: 1.8em;
}

.abbba {
  padding: 2em;
  overflow: hidden;
}



.acard .sbutt {
  color: inherit;
  transition: .2s ease-in-out;

}

.sbutt svg {
  transform: scale(1.5);
}

.acard .sbutt:hover {
  color: #f3bbe1;
}

.acard .acont {
  padding: 0.8em 1.7em;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  margin-top: 2em;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: .4s ease-in-out;
}

.acard .acont:hover {
  background: rgb(36, 116, 221);
  color: white;
}


/*Final card with stats*/

.ccard_container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.ccard_title {
  background: linear-gradient(to right, rgb(25, 126, 174), #f3bbe1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Kelfill' !important;
}

.ccard {
  width: 100%;
  min-height: 100vh;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3em;
  overflow: visible;
  cursor: pointer;
  /*box-shadow: 1px 1px 17px 9px #ececec;*/
  position: relative;
  padding: 3em;
}

.ccard .header_wave_svg3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.ccard .citem {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s all;
  text-align: center;
  word-break: break-all;
}

.citem:hover,
.citem:active {
  transform: scale(1.05);
  transition: all 0.3s;
  color: #f1f1f1;
}

.citem svg {
  width: 40px;
  height: 40px;
  margin-bottom: 7px;
}

.citem1 {
  background: #c7c7ff;
}

.citem2 {
  background: #ffd8be;
}

.citem3 {
  background: #a9ecbf;
}

.citem4 {
  background: #f3bbe1;
}

.cquantity {
  font-size: 40px;
  font-weight: 600;
}

.ctext {
  font-size: 20px;
  font-family: inherit;
  font-weight: 600;
}

.ctext1 {
  color: rgba(149, 149, 255, 1);
}

.ctext2 {
  color: rgba(252, 161, 71, 1);
}

.ctext3 {
  color: rgba(66, 193, 110, 1);
}

.ctext4 {
  color: rgba(220, 91, 183, 1);
}




@media(max-width: 900px) {
  .aboutsec {
    grid-template-columns: 1fr;
    gap: 0em;
  }
  .main svg{
    transform: translateX(0);
  }


  .ccard {
    min-height: fit-content;
    height: fit-content;
    grid-template-columns: 1fr;
    padding: 1em;
  }

  .citem {
    height: auto !important;
    padding: 2em;
    min-height: 0 !important;
  }

  .acard {
    height: 100vh;
    display: flex;
    flex-direction: column;
    animation: none;
    border-radius: 0;
  }

  .abbba {
    padding: 0;
  }

  .aimg {
    width: 100%;
    height: fit-content !important;
    border-radius: 15px;
    margin: 1.8em;
  }

  .aimg>img {
    width: 10em;
    height: 10em;
  }

  .main {
    height: 30vh;
    min-height: none;
    border-bottom: none;
  }

  .ainfo {
    font-size: 14px;

  }
  .main h1{
    font-size: 66px;
  }
  .main_svg svg{
    height: 150px;
    width: 200%;
  }
}

.ccc {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 130%;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}