.card {
    height: 80vh;
    width: 60%;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 1em;
    box-shadow: 0 0 20px 8px #d0d0d0;
    overflow: hidden;
   }
   
    /*Image*/
   .cardimage {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: #0a3394;
    background: linear-gradient(to top, #0a3394, #4286f4);
   }
   
   /*Description */
   .carddescription {
    display: flex;
    position: absolute;
    gap: 1em;
    flex-direction: column;
    background-color: #969696c3;
    color: whitesmoke;
    height: fit-content;
    bottom: 0;
    border-radius: 1em 1em 0em 0em;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1rem;
    width: 100%;
   }
   
   /*Text*/
   .texttitle {
    font-size: 1.4em;
    font-weight: 700;
   }
   
   .textbody {
    font-size: 1em;
    line-height: 150%;
   }
   
   
   /* Hover states */
   
   .card:hover .carddescription {
    transform: translateY(100%);
   }
   

   @media (max-width: 900px) {
    .card{
        height: 80vh;
        width: 95%;
    }
   }
   