.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
  
  .links>li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 7vh;
    background-color: #59d4af;
    border: 5px solid transparent;
    border-radius: 25px;
    font-family: 'Source Sans Pro';
    font-size: 2vh;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    transition: all .4s;
    box-shadow: 0 10px 30px 0 rgb(89 212 183 / 50%);
    -moz-box-shadow: 0 10px 30px 0 rgba(89, 198, 212, 0.5);
    -webkit-box-shadow: 0 10px 30px 0 rgb(89 212 183 / 50%);
    -o-box-shadow: 0 10px 30px 0 rgba(89, 210, 212, 0.5);
    -ms-box-shadow: 0 10px 30px 0 rgba(89, 212, 200, 0.5);
    margin: 3vh;
    text-align: center;
  }
  
  
  .links>li:hover {
    background-color: transparent;
    color: rgb(34, 185, 134);
    border: 5px rgb(209, 209, 209) solid;
    cursor: pointer;
  }
  
  .links>li>a:hover {
    cursor: grabbing;
  }
  
  
  
  
  
  
  
  .projects {
    min-height: 100vh;
    text-align: center;
  }
  
  
  .gridBody {
    min-height: 50vh;
    padding: 0 10vh;
  }
  
  /* This is setting up the grid for the page. */
  .gridcontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1vh;
    font-family: Verdana;
    max-width: 100%;
  }
  
  /* Styling the grid items. */
  .griditem {
    border: 2px solid rgb(169, 169, 169);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin: 10px;
    padding: 50px;
    font-size: 30px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(206, 206, 206);
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
    background-color: rgb(66, 66, 66);
  }
  
  .griditem:hover {
    color: rgb(255, 255, 255);
    margin: 6px 10px;
    border: rgb(105, 232, 105) 4px solid;
  }
  
  .forms {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
  }
  
  
  .forms>form {
    max-width: 100%;
    width: calc(100% - 10%);
    align-self: center;
    height: 60vh;
  }
  
  .pform {
    border-radius: 5px;
    background-color: #e2e2e2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 3vh 2%;
    align-items: center;
    justify-content: center;
  }

  .aform {
    border-radius: 5px;
    background-color: #e2e2e2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 3vh 2%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .usericon{
    width: 10vh;
    height: 10vh;
    border: 3px solid rgb(208, 208, 208);
    border-radius: 1vh;
  }
  
  
  @keyframes flash {
    0% {
      color: rgb(0, 0, 0);
    }
  
    50% {
      color: rgb(255, 0, 0);
    }
  
    100% {
      color: rgb(0, 0, 0)
    }
  }
  
  @keyframes bflash {
    0% {
      border-color: red;
    }
  
    50% {
      border-color: black;
    }
  
    100% {
      border-color: red;
    }
  }
  
  
  @media (max-width: 1050px) {
    .gridBody {
      padding: 0 5vh;
    }
  }
  
  @media (max-width: 900px) {
  
    .gridcontainer,
    .links {
      grid-template-columns: auto;
      margin-left: 10vh;
      margin-right: 10vh;
      justify-content: center;
    }
  
    .griditem {
      padding: 30px 20px;
    }
  
    .forms {
      flex-direction: column;
    }
    #alert{
      padding: 3vh;
      border-width: 0.8vh;
    }
  }

  .button{
    padding: 0;
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    margin: 1vh 0;
    width: 80%;
  }

  .finput{
    display: none;
  }

  .button:hover .buttontop {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }
  
  .button:active .buttontop {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }

  .buttontop{
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }

  #delavatar{
    background-color: rgb(255, 84, 84) !important;
  }

  #delavatar:hover{
    background-color: rgb(213, 0, 0) !important ;
  }